<mat-toolbar class="navBar">
  <div class="navRowImg">
    <a routerLink="">
      <img src="../assets/img/itau-logo.png">
      <p>BBA</p>
    </a>
  </div>
  <div class="navLinks">
    <ul>
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/business">Business</a></li>
      <li routerLinkActive="active"><a routerLink="/contact">Contatos</a></li>
    </ul>
  </div>
  <div class="navRowText">
    <span class="language">
      <h2>PT</h2>
    </span>
    <span class="imgBar"><img src="../../../assets/img/barra.png"></span>
    <span class="imgPerson">
      <button mat-fab disabled>
        <mat-icon></mat-icon>
      </button>
    </span>
    <span class="person">
      <p>John Joe</p>
    </span>
    <br>
    <span class="funci">
      <p>Gerente Itaú BBA</p>
    </span>
    <span class="icon"><mat-icon fontIcon="keyboard_arrow_down"></mat-icon></span>
  </div>
</mat-toolbar>
